azdatafactory/pipeline/copyOnceWeek.json
{
	"name": "copyOnceWeek",
	"properties": {
		"description": "Copy PostTypes and Users tables from RDS PostgreSQL DB once a week",
		"activities": [
			{
				"name": "Copy postTypes",
				"description": "Copy postTypes from RDS PostgreSQL DB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_postTypes",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_postTypes_load_rds_to_myblob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Users",
				"description": "Copy Users from RDS PostgreSQL DB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_Users",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Users_load_rds_to_myblob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Retry Copy Users",
				"description": "Executes a set of activities in a loop to reattempt copying data for a specific duration.",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Copy Users",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('FilesCopied')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "User File Existence Check",
							"description": "Check that the file is copied",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_Users_load_rds_to_myblob",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Users Conditional Action",
							"description": "Make an action depending on post files existence",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "User File Existence Check",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(activity('User File Existence Check').output.exists)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Users Retry WaitTime",
										"description": "Set the time till the next copy retry attempt",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1800
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set UserFileCopied",
										"description": "Set the UserFileCopied pipeline variable to true indicating successful copy attempt",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "UserFileCopied",
											"value": {
												"value": "@bool(true)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.01:15:00"
				}
			},
			{
				"name": "Retry Copy postTypes",
				"description": "Executes a set of activities in a loop to reattempt copying data for a specific duration.",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Copy postTypes",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('FilesCopied')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PostType File Existence Check",
							"description": "Check that the file is copied",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_postTypes_load_rds_to_myblob",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "PostTypes Conditional Action",
							"description": "Make an action depending on post files existence",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "PostType File Existence Check",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(activity('PostType File Existence Check').output.exists)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "PostTypes Retry WaitTime",
										"description": "Set the time till the next copy retry attempt",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1800
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set PostTypeFileCopied",
										"description": "Set the PostTypeFileCopied pipeline variable to true indicating successful copy attempt",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "PostTypeFileCopied",
											"value": {
												"value": "@bool(true)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.01:15:00"
				}
			}
		],
		"variables": {
			"PostTypeFileCopied": {
				"type": "Boolean",
				"defaultValue": false
			},
			"UserFileCopied": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "adf-pipeliens"
		},
		"annotations": []
	}
}